/* --------------------------------------HEADER AREA -------------------------------------- */
* {
  font-family: Arial;
}

header {
  display:flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.column {
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;

}

.menu {
  display: flex;
  align-items: center;
}

nav ul, nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display:block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active a,
nav a:hover {
  background-color: #39aaE1;
  color: #fff
}
/* --------------------------------------- BANNER AREA -------------------------------------- */
#banner {
  display: flex;
  justify-content: center;
  background-image:url('../images/img1.jpg');
  background-position: center;
  background-size:cover;
  height: 670px;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_options {
  height: 210px;
}

.banner_headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
}

.banner_headline h2 {
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  display: flex;
  height: 210px;
}

.banner1, .banner2, .banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}

.banner2 {
  background-color: #0079c7;
}

.banner3 {
  background-color: #2b4c99;
}

.banner_title {
  font-size: 23px;
}

.banner_desc {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display: inline-block;
  border: 1px solid #FFFFFF;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.hours {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #365ebb;
  padding-top: 0px;
  padding-bottom: px;
}
/* SECTION */
#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}

.widget_title_bar {
  width: 50px;
  height: 1px;
  background-color: #36a9e1;
  margin-top: 10px; 
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* -------------------------------------- ARTICLE AREA -------------------------------------- */
article {
  flex: 1;
  min-width: 300px;
  margin-right: 25px;
  
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: #2b4c99;
  color: #FFF;
  font-size: 14px;
  padding: 12px;
}

article .news_comments {
  background-color: #39aae1;
  color: #FFF;
  font-size: 14px;
  padding: 12px;
  margin-left: 3px;
}

article .news_thumbnail {
  margin-top: 30px;
}

article .news_thumbnail img {
  width: 100%;
  height: auto;
  
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px;
  color: #000;
}

article .news_resume {
  font-size: 15px;
  color: #5c5c5c;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 19px;
}

/* -------------------------------------- ASIDE AREA -------------------------------------- */

aside .widget_square {
  
  width: 130px;
  height: 130px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.widget_square img {
  width: 130px;
  height: 130px;
  opacity: 0.8;
}

aside .widget_body {
  margin-bottom: 25px;
  display: flex;
  color: #5c5c5c;
}

aside .underline {
  background-color: rgb(233, 233, 233);
  height: 1px;
}

aside .contacts {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #5c5c5c;
}

.img_container {
  width: 18px;
  height: 15px;
  margin-right: 5px;
}



aside .formulario {
  color: #7364ff;
}

/* -------------------------------------- FOOTER -------------------------------------- */

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.footer_menu {
  display: flex;
}

.fm1, .fm2, .fm3 {
  flex: 1;
  color: #fff;
  padding: 20px;
  font-size: 25px;
}

.fm1 {
  background-color: #39aae1;
}

.fm2 {
  background-color: #0079c7;
}

.fm3 {
  background-color: #2b4c99;
}

.footer_area {
  display: flex;
}

.footer_area_item {
  flex: 1;
  color: #fff;
}

.flexColumn {
  flex-direction: column;
}

footer .widget_title_text {
  color: #fff;
}

.footer_copy {
  border-top: 1px solid #616060;
  height: 40px;
  line-height: 20px;
  color: #5c5c5c;
  font-size: 14px;
  margin-top: 30px;
  display: flex;
  flex: 1;
}

.footer_square {
  line-height: 25px;
  font-size: 14px;
  color: #a1a1a1
}

.second_text {
  display: flex;
  flex: 1;
  
  justify-content: space-between;
  margin-top: 23px;
  line-height: 23px;
  font-size: 14px;
  color: #a1a1a1;
}

.footer_logo{
  margin-top: 23px;
  width: 32px;
  height: 32px;
  text-decoration: none;
}

.fm_text {
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 15px;
}

.footer_menu a {
  text-decoration: none;
  color: #fff;
}


/* -------------------------------------- RESPONSIVIDADE -------------------------------------- */

.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.mm_line {
  height: 3px;
  background-color: #39aae1;
}

@media (max-width: 950px) {

  .banner_headline {
    padding: 20px;
  }

  .banner_headline h1 {
    font-size: 53px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  .banner_options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  #geral section,
  #geral aside {
    padding: 20px;
  }
  .footer_menu {
    flex-direction: column;
  }
  .footer_area {
    flex-direction: column;
    padding: 20px;
  }
  .footer_copy {
    padding-left: 20px;
  }
  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  header {
    height: auto;
  }
  .logo {
    padding-left: 20px;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}