div .button {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  background-color: rgb(58, 138, 204);
  padding: 20px;
  color: white;
  width: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 4px rgb(145, 145, 146);
}

div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button:hover {
  background-color: rgb(76, 150, 211) ;
}